/* General */

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

body {
    margin: 0;
    font-size: 18px;
}

main {
    display: block;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
}

p {
    font-size: 1em;
}